extends templates/posting-t

block variables
  - var body_class = 'posting'
  - var nav_links = [{isLink: true, link: '/', title: 'newton'}, {isLink: true, link: '/', title: 'for sale'},{isLink: false, title: 'bikes'}]
