link(rel='stylesheet' href='/css/index.css')    
script(src="https://kit.fontawesome.com/b0b051f3df.js" crossorigin="anonymous" SameSite="None Secure")
meta(name="viewport" content="width=device-width, initial-scale=1")
